*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
.conteiner-flex{
	display: flex;
	justify-content: center;
	align-items: center;


}
.conteiner-grid{
	max-width: 1024px;
	width: 100%;
	display: grid;
	height: 55em;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 0.2fr 1.4fr 1fr 0.8fr;
	grid-template-areas:
		"nav nav nav nav"
		"sidebar main main main"
		"sidebar cont1 cont2 cont3"
		"sidebar footer footer footer" 
	;
	grid-gap: 0.5em;
	padding: 0.7em;

}
.conteiner-grid > div{
	border-radius: 0.2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 0.4em;
	color: #1A1A1A;
}
.nav{
	background-color: #4FF9E3 ;
	grid-area: nav;
}
.sidebar{
	background-color: #58F5C3;
	grid-area: sidebar;

}
.conteudo-principal{
	background-color:#FABCFC;
	grid-area: main;
}
.conteudo1, .conteudo2,.conteudo3{
	background-color: #94FAD5;
}
.conteudo1{
	grid-area: cont1;

}
.conteudo2{
	grid-area: cont2;

}
.conteudo3{
	grid-area: cont3;

}
.footer{
	background-color: #92F1F9;
	grid-area: footer;
}

@media (max-width: 550px){
	.conteiner-grid{		
		grid-template-areas:
			"nav"
			"sidebar"
			"main"
			"cont1" 
			"cont2" 
			"cont3"
			"footer" 
		;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 0.6fr 1.8fr repeat(3, 1.2fr) 1fr;
	}
}